# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
.pnp
.pnp.js
node_modules
.cache
.turbo

# IDE
.vscode
.idea

# testing
coverage

# next.js
.next/
out/
build
dist
!.yarn/unplugged/**
.yarn/install-state.gz

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# turbo
.turbo

# vercel
.vercel
**/storybook-static
junit.xml

# pnpm-store가 꼬이는 경우가 있어 제외
.pnpm-store
docs/tsconfig.tsbuildinfo

# 생성되는 에셋 이미지 제외
**/generated/**/*.tsx

# 생성되는 파일 제외
docs/pages/**/*.mdx
docs/pages/base/**/_meta.json
docs/pages/utils/**/_meta.json
!docs/pages/contribute/**/*.mdx
!docs/pages/_app.mdx
!docs/pages/_document.mdx
!docs/pages/index.mdx

CLAUDE.md
.cursor