name: Build Test

on:
  pull_request:
    types:
      - opened
      - synchronize
  workflow_dispatch:

jobs:
  build-test:
    runs-on: ubuntu-latest
    env:
      TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
      TURBO_TEAM: ${{ vars.TURBO_TEAM }}

    steps:
      - name: 코드를 체크아웃하고 있어요.
        uses: actions/checkout@v4
        with:
          ref: ${{ github.head_ref }}
          fetch-depth: 0

      - name: pnpm을 설정하고 있어요.
        uses: pnpm/action-setup@v4

      - name: 노드를 설정하고 있어요.
        uses: actions/setup-node@v4
        with:
          node-version-file: ".nvmrc"
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm install

      - name: 전체패키지를 빌드하고 있어요.
        run: pnpm build

      - name: 테스트 Status와 Color를 설정하고 있어요.
        id: set_status_and_color
        if: always()
        run: |
          if [ "${{ job.status }}" == "success" ]; then
            echo "status_text=빌드 테스트가 완료되었어요." >> $GITHUB_OUTPUT
            echo "color=good" >> $GITHUB_OUTPUT
          elif [ "${{ job.status }}" == "failure" ]; then
            echo "status_text=빌드 테스트가 실패했어요." >> $GITHUB_OUTPUT
            echo "color=danger" >> $GITHUB_OUTPUT
          else
            echo "status_text=빌드 테스트 상태를 확인하세요." >> $GITHUB_OUTPUT
            echo "color=warning" >> $GITHUB_OUTPUT
          fi
