name: Test Changed Packages with Turbo on PR

on:
  pull_request:
    types:
      - opened
      - synchronize
  workflow_dispatch:

jobs:
  jest-test:
    runs-on: ubuntu-latest
    env:
      TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
      TURBO_TEAM: ${{ vars.TURBO_TEAM }}

    steps:
      - name: 코드를 체크아웃하고 있어요.
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: pnpm을 설정하고 있어요.
        uses: pnpm/action-setup@v4

      - name: 노드를 설정하고 있어요.
        uses: actions/setup-node@v4
        with:
          node-version-file: ".nvmrc"
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm install

      - name: 변경된 패키지만 테스트하고 있어요.
        run: pnpm turbo run test

      - name: 테스트 결과(junit.xml) 파일이 존재하는지 확인하고 있어요.
        id: checkfile
        run: echo "FILE_EXISTS=$(if find '**/junit.xml' -mindepth 1 -print -quit | grep -q .; then echo 'true'; else echo 'false'; fi)" >> $GITHUB_ENV

      - name: 테스트 Report를 생성하고 있어요.
        if: env.FILE_EXISTS == 'true' && (success() || failure())
        uses: dorny/test-reporter@v1
        with:
          name: Test Report
          path: '**/junit.xml'
          fail-on-error: 'false'
          reporter: jest-junit
          token: ${{ secrets.GITHUB_TOKEN }}
